table.game_table {
    border-spacing: 0;
}

td.game_td {
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

div.game_field_covered {
    background-color: #c0c0c0;
    border-bottom: #7e7e7e solid 4px;
    border-right: #7e7e7e solid 4px;
    border-top: white solid 4px;
    border-left: white solid 4px;
    padding: 0;
    margin: 0;

    width: 16px;
    height: 16px;
}

div.game_field_uncovered {
    background-color: #c0c0c0;
    border: #707070 solid 1px;
    padding: 0;
    margin: 0;

    width: 22px;
    height: 22px;
}

div.game_field_of_death {
    background-color: red;
    border: #707070 solid 1px;
    padding: 0;
    margin: 0;

    width: 22px;
    height: 22px;
}

div.game_field_mine_after_win {
    background-color: green;
    border: #707070 solid 1px;
    padding: 0;
    margin: 0;

    width: 22px;
    height: 22px;
}

img {
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
p.statistics {
    font-family: "monospace";
    font-size: 12px;
}